.CardList{
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
}

.CardList__title{
    margin: 10px 8px;
}

.CardList__products{    
    display: flex;
    gap: 15px;
    margin: 5px 20px 0;
    padding-bottom: 5px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}