.SingleCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 440px;
    border: 1.5px solid black;
    border-radius: 12px;
    background-color: white;
}
  
.SingleCard img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 1px solid black;
}
  
.SingleCard__text-content {
    padding: 10px 20px;
}